@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(240, 240, 240);
}

.shopping-cart {
  position: absolute;
  top: 0px;
  right: 0;
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transfrom ease-in 0.3s;
}
